<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.css">


</head>
<body>
    <div>
        <div class="d-flex flex-row">
            <div class="col-md-3">
                <div class="card card1 p-3">
                    <div class=" image d-flex flex-row align-items-center mt-3"> <img src="https://i.imgur.com/R4afbIg.png"
                            height="50" width="50" /> <span>Clover</span> </div>
                    <hr class="hline">
                    <div class="d-flex flex-column align-items-center"> <button class="btn"><i
                                class="fa fa-dashboard"></i><span>Dashboard</span></button> <button class="btn mt-3"><i
                                class="fa fa-users"></i><span>Users</span></button> <button class="btn mt-3"><i
                                class="fa fa-inbox"></i><span>Inbox</span></button> <span class="other mt-4">Other
                            Information</span> <button class="btn mt-3"><i
                                class="fa fa-book"></i><span>Knowlwdge</span></button> <button class="btn mt-3"><i
                                class="fa fa-question-circle"></i><span>Dashboard</span></button>

                                <a class="btn mt-3 text-center text-light" style="color: aliceblue !important;" href="/chat">chat now</a>

                                <a class="btn mt-3 text-center text-light" style="color: aliceblue !important;"><a href="/logout">logout</a>
                                
                             
                            
                            </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card2 p-3">
                    <div class="hello d-flex justify-content-end align-items-center mt-3"> <span>Hi,Frank Jack</span> </div>
                    <div class="d-flex flex-row gap-3">
                        <div class="card cardchild mt-3 p-2 px-3 py-3">
                            <div class="d-flex p-2 mt-2 justify-content-between rounded">
                                <div class="d-flex flex-column"><span class="type">Minimal</span><span
                                        class="number">132</span></div>
                                <div class="d-flex flex-column"><img src="https://i.imgur.com/Slxu74c.png" class="logo1"
                                        height="40" width="40" /><span class="percentage">45%</span></div>
                            </div>
                        </div>
                        <div class="card cardchild mt-3 p-2 px-3 py-3">
                            <div class="d-flex p-2 mt-2 justify-content-between rounded">
                                <div class="d-flex flex-column"><span class="type">Mild</span><span
                                        class="number">120</span></div>
                                <div class="d-flex flex-column"><img src="https://i.imgur.com/7SEdq7z.png" class="logo2"
                                        height="40" width="40" /><span class="percentage2">25%</span></div>
                            </div>
                        </div>
                        <div class="card cardchild mt-3 p-2 px-3 py-3">
                            <div class="d-flex p-2 mt-2 justify-content-between rounded">
                                <div class="d-flex flex-column"><span class="type">Moderate</span><span
                                        class="number">25</span></div>
                                <div class="d-flex flex-column"><img src="https://i.imgur.com/xvUzRjK.png" class="logo3"
                                        height="40" width="40" /><span class="percentage3">17%</span></div>
                            </div>
                        </div>
                        <div class="card cardchild mt-3 p-2 px-3 py-3">
                            <div class="d-flex p-2 mt-2 justify-content-between rounded">
                                <div class="d-flex flex-column"><span class="type">Severe</span><span
                                        class="number">5</span></div>
                                <div class="d-flex flex-column"><img src=" https://i.imgur.com/iLU5F9A.png" class="logo4"
                                        height="40" width="40" /><span class="percentage4">13%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-5 gap-2 p-3">
                        <div class="col-md-6">
                            <div class="card cardchildchild p-2">
                                <div class="profile1"> <img src="https://i.imgur.com/NI5b1NX.jpg" height="90" width="90"
                                        class="rounded-circle" /> </div>
                                <div class="d-flex flex-column justify-content-center align-items-center mt-5"> <span
                                        class="name">Bess Wills</span> <span class="mt-1 braceletid">Bracelet ID:SFG
                                        38393</span> <span class="dummytext mt-3 p-3">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Text elit more smtit.Kimto lee. </span> </div>
                                <div class="d-flex justify-content-center align-items-center mt-3"> <button
                                        class="btn1">Next Appoinment</button> </div>
                                <div class=" icons d-flex flex-row justify-content-center gap-3 mt-4"> <span><i
                                            class="fa fa-google"></i></span> <span><i class="fa fa-facebook"></i></span>
                                    <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-instagram"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card cardchildchild p-2">
                                <div class="profile1"> <img src="https://i.imgur.com/YyoCGsa.jpg" height="90" width="90"
                                        class="rounded-circle" /> </div>
                                <div class="d-flex flex-column justify-content-center align-items-center mt-5"> <span
                                        class="name">Bess Wills</span> <span class="mt-1 braceletid">Bracelet ID:SFG
                                        38393</span> <span class="dummytext mt-3 p-3">Lorem ipsum dolor sit amet,
                                        consectetur adipiscing elit.Text elit more smtit.Kimto lee. </span> </div>
                                <div class="d-flex justify-content-center align-items-center mt-3"> <button
                                        class="btn2">Next Appoinment</button> </div>
                                <div class=" icons d-flex flex-row justify-content-center gap-3 mt-4"> <span><i
                                            class="fa fa-google"></i></span> <span><i class="fa fa-facebook"></i></span>
                                    <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-instagram"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</html>